.tile-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 8vh;
  align-items: center;
  border-radius: 5px;
  border-size: 0px;
  background-color: #a9a9a9;
}

.comparator-data {
  font-weight: bold;
}

.left-ptr {
  margin-left: 10px;
  font-size: 40px;
}

.right-ptr {
  margin-right: 10px;
  font-size: 40px;
}
