#root {
  max-width: 1600px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
}

.parent {
  display: grid;
  margin-top: 2.5vh;
  height: 95vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr repeat(3, 2fr) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
}
.div2 {
  grid-area: 2 / 1 / 5 / 3;
}
.div3 {
  grid-area: 2 / 3 / 5 / 4;
}
.div4 {
  grid-area: 2 / 4 / 5 / 6;
}
.div5 {
  grid-area: 5 / 1 / 6 / 6;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div5-sentence {
  font-style: italic;
}
